Test failed: /Users/dev/dev/dada/tests/tutorial/from_rust/03-moving-variables.dada

[Test file](./03-moving-variables.dada)


# Compiler output

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:1
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:5
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:7
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m       [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:8
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m        [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:10
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m          [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:12
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m            [1m[91m^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:15
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m               [1m[91m^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:22
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m                      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:23
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m                       [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:25
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m                         [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:27
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m                           [1m[91m^^^^^^^^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:1
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:5
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:6
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:8
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m        [1m[91m^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:11
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m           [1m[91m^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:18
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m                  [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:20
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m                    [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:21
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m                     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:22
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m                      [1m[91m^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:3:1
  [1m[94m|[0m
[1m[94m3 |[0m print("{s}") # ERROR
  [1m[94m|[0m [1m[91m^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:3:6
  [1m[94m|[0m
[1m[94m3 |[0m print("{s}") # ERROR
  [1m[94m|[0m      [1m[91m^^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:1
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            0,
        ),
        end: AbsoluteOffset(
            3,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:5
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            4,
        ),
        end: AbsoluteOffset(
            5,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:7
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m       [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            6,
        ),
        end: AbsoluteOffset(
            7,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:8
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m        [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            7,
        ),
        end: AbsoluteOffset(
            8,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:10
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m          [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            9,
        ),
        end: AbsoluteOffset(
            10,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:12
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m            [1m[91m^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            11,
        ),
        end: AbsoluteOffset(
            13,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:15
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m               [1m[91m^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            14,
        ),
        end: AbsoluteOffset(
            20,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:22
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m                      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            21,
        ),
        end: AbsoluteOffset(
            22,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:23
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m                       [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            22,
        ),
        end: AbsoluteOffset(
            23,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:25
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m                         [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            24,
        ),
        end: AbsoluteOffset(
            25,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:1:27
  [1m[94m|[0m
[1m[94m1 |[0m let s /* : my String */ = "Hello, world"
  [1m[94m|[0m                           [1m[91m^^^^^^^^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            26,
        ),
        end: AbsoluteOffset(
            39,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:1
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            41,
        ),
        end: AbsoluteOffset(
            44,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:5
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            45,
        ),
        end: AbsoluteOffset(
            46,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:6
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            46,
        ),
        end: AbsoluteOffset(
            47,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:8
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m        [1m[91m^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            48,
        ),
        end: AbsoluteOffset(
            50,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:11
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m           [1m[91m^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            51,
        ),
        end: AbsoluteOffset(
            57,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:18
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m                  [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            58,
        ),
        end: AbsoluteOffset(
            59,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:20
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m                    [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            60,
        ),
        end: AbsoluteOffset(
            61,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:21
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m                     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            61,
        ),
        end: AbsoluteOffset(
            62,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:2:22
  [1m[94m|[0m
[1m[94m2 |[0m let t: my String = s.move
  [1m[94m|[0m                      [1m[91m^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            62,
        ),
        end: AbsoluteOffset(
            66,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:3:1
  [1m[94m|[0m
[1m[94m3 |[0m print("{s}") # ERROR
  [1m[94m|[0m [1m[91m^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            67,
        ),
        end: AbsoluteOffset(
            72,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/03-moving-variables.dada:3:6
  [1m[94m|[0m
[1m[94m3 |[0m print("{s}") # ERROR
  [1m[94m|[0m      [1m[91m^^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            72,
        ),
        end: AbsoluteOffset(
            79,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```

