Test failed: /Users/dev/dev/dada/tests/tutorial/from_rust/10b-our-values-rust.dada

[Test file](./10b-our-values-rust.dada)


# Compiler output

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:1:1
  [1m[94m|[0m
[1m[94m1 |[0m let s: String = ...
  [1m[94m|[0m [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:1:5
  [1m[94m|[0m
[1m[94m1 |[0m let s: String = ...
  [1m[94m|[0m     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:1:6
  [1m[94m|[0m
[1m[94m1 |[0m let s: String = ...
  [1m[94m|[0m      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:1:8
  [1m[94m|[0m
[1m[94m1 |[0m let s: String = ...
  [1m[94m|[0m        [1m[91m^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:1:15
  [1m[94m|[0m
[1m[94m1 |[0m let s: String = ...
  [1m[94m|[0m               [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:1:17
  [1m[94m|[0m
[1m[94m1 |[0m let s: String = ...
  [1m[94m|[0m                 [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:1:18
  [1m[94m|[0m
[1m[94m1 |[0m let s: String = ...
  [1m[94m|[0m                  [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:1:19
  [1m[94m|[0m
[1m[94m1 |[0m let s: String = ...
  [1m[94m|[0m                   [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:1
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:5
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:6
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:8
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m        [1m[91m^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:10
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m          [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:11
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m           [1m[91m^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:17
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m                 [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:19
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m                   [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:21
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m                     [1m[91m^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:23
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m                       [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:24
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m                        [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:25
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m                         [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:28
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m                            [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:31
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m                               [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:1
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:5
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:6
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:8
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m        [1m[91m^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:10
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m          [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:11
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m           [1m[91m^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:17
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m                 [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:19
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m                   [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:21
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m                     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:22
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m                      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:23
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m                       [1m[91m^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:28
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m                            [1m[91m^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:30
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m                              [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:1:1
  [1m[94m|[0m
[1m[94m1 |[0m let s: String = ...
  [1m[94m|[0m [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            0,
        ),
        end: AbsoluteOffset(
            3,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:1:5
  [1m[94m|[0m
[1m[94m1 |[0m let s: String = ...
  [1m[94m|[0m     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            4,
        ),
        end: AbsoluteOffset(
            5,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:1:6
  [1m[94m|[0m
[1m[94m1 |[0m let s: String = ...
  [1m[94m|[0m      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            5,
        ),
        end: AbsoluteOffset(
            6,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:1:8
  [1m[94m|[0m
[1m[94m1 |[0m let s: String = ...
  [1m[94m|[0m        [1m[91m^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            7,
        ),
        end: AbsoluteOffset(
            13,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:1:15
  [1m[94m|[0m
[1m[94m1 |[0m let s: String = ...
  [1m[94m|[0m               [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            14,
        ),
        end: AbsoluteOffset(
            15,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:1:17
  [1m[94m|[0m
[1m[94m1 |[0m let s: String = ...
  [1m[94m|[0m                 [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            16,
        ),
        end: AbsoluteOffset(
            17,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:1:18
  [1m[94m|[0m
[1m[94m1 |[0m let s: String = ...
  [1m[94m|[0m                  [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            17,
        ),
        end: AbsoluteOffset(
            18,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:1:19
  [1m[94m|[0m
[1m[94m1 |[0m let s: String = ...
  [1m[94m|[0m                   [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            18,
        ),
        end: AbsoluteOffset(
            19,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:1
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            20,
        ),
        end: AbsoluteOffset(
            23,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:5
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            24,
        ),
        end: AbsoluteOffset(
            25,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:6
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            25,
        ),
        end: AbsoluteOffset(
            26,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:8
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m        [1m[91m^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            27,
        ),
        end: AbsoluteOffset(
            29,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:10
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m          [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            29,
        ),
        end: AbsoluteOffset(
            30,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:11
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m           [1m[91m^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            30,
        ),
        end: AbsoluteOffset(
            36,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:17
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m                 [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            36,
        ),
        end: AbsoluteOffset(
            37,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:19
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m                   [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            38,
        ),
        end: AbsoluteOffset(
            39,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:21
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m                     [1m[91m^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            40,
        ),
        end: AbsoluteOffset(
            42,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:23
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m                       [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            42,
        ),
        end: AbsoluteOffset(
            43,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:24
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m                        [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            43,
        ),
        end: AbsoluteOffset(
            44,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:25
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m                         [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            44,
        ),
        end: AbsoluteOffset(
            47,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:28
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m                            [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            47,
        ),
        end: AbsoluteOffset(
            50,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:2:31
  [1m[94m|[0m
[1m[94m2 |[0m let t: Rc<String> = Rc::new(s);
  [1m[94m|[0m                               [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            50,
        ),
        end: AbsoluteOffset(
            51,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:1
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            52,
        ),
        end: AbsoluteOffset(
            55,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:5
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            56,
        ),
        end: AbsoluteOffset(
            57,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:6
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            57,
        ),
        end: AbsoluteOffset(
            58,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:8
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m        [1m[91m^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            59,
        ),
        end: AbsoluteOffset(
            61,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:10
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m          [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            61,
        ),
        end: AbsoluteOffset(
            62,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:11
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m           [1m[91m^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            62,
        ),
        end: AbsoluteOffset(
            68,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:17
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m                 [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            68,
        ),
        end: AbsoluteOffset(
            69,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:19
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m                   [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            70,
        ),
        end: AbsoluteOffset(
            71,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:21
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m                     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            72,
        ),
        end: AbsoluteOffset(
            73,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:22
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m                      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            73,
        ),
        end: AbsoluteOffset(
            74,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:23
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m                       [1m[91m^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            74,
        ),
        end: AbsoluteOffset(
            79,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:28
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m                            [1m[91m^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            79,
        ),
        end: AbsoluteOffset(
            81,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/10b-our-values-rust.dada:3:30
  [1m[94m|[0m
[1m[94m3 |[0m let u: Rc<String> = t.clone();
  [1m[94m|[0m                              [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            81,
        ),
        end: AbsoluteOffset(
            82,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```

