Test failed: /Users/dev/dev/dada/tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada

[Test file](./14b-owned-vs-copy-types-and-permissions-becomes.dada)


# Compiler output

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:1:1
  [1m[94m|[0m
[1m[94m1 |[0m let s: my String = "Hello, world"
  [1m[94m|[0m [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:1:5
  [1m[94m|[0m
[1m[94m1 |[0m let s: my String = "Hello, world"
  [1m[94m|[0m     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:1:6
  [1m[94m|[0m
[1m[94m1 |[0m let s: my String = "Hello, world"
  [1m[94m|[0m      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:1:8
  [1m[94m|[0m
[1m[94m1 |[0m let s: my String = "Hello, world"
  [1m[94m|[0m        [1m[91m^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:1:11
  [1m[94m|[0m
[1m[94m1 |[0m let s: my String = "Hello, world"
  [1m[94m|[0m           [1m[91m^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:1:18
  [1m[94m|[0m
[1m[94m1 |[0m let s: my String = "Hello, world"
  [1m[94m|[0m                  [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:1:20
  [1m[94m|[0m
[1m[94m1 |[0m let s: my String = "Hello, world"
  [1m[94m|[0m                    [1m[91m^^^^^^^^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:2:1
  [1m[94m|[0m
[1m[94m2 |[0m let m: Option[my String] = Some(s.give)
  [1m[94m|[0m [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:2:5
  [1m[94m|[0m
[1m[94m2 |[0m let m: Option[my String] = Some(s.give)
  [1m[94m|[0m     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:2:6
  [1m[94m|[0m
[1m[94m2 |[0m let m: Option[my String] = Some(s.give)
  [1m[94m|[0m      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:2:8
  [1m[94m|[0m
[1m[94m2 |[0m let m: Option[my String] = Some(s.give)
  [1m[94m|[0m        [1m[91m^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:2:14
  [1m[94m|[0m
[1m[94m2 |[0m let m: Option[my String] = Some(s.give)
  [1m[94m|[0m              [1m[91m^^^^^^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:2:26
  [1m[94m|[0m
[1m[94m2 |[0m let m: Option[my String] = Some(s.give)
  [1m[94m|[0m                          [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:2:28
  [1m[94m|[0m
[1m[94m2 |[0m let m: Option[my String] = Some(s.give)
  [1m[94m|[0m                            [1m[91m^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:2:32
  [1m[94m|[0m
[1m[94m2 |[0m let m: Option[my String] = Some(s.give)
  [1m[94m|[0m                                [1m[91m^^^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:3:1
  [1m[94m|[0m
[1m[94m3 |[0m let p: Option[shared[m] String] = m
  [1m[94m|[0m [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:3:5
  [1m[94m|[0m
[1m[94m3 |[0m let p: Option[shared[m] String] = m
  [1m[94m|[0m     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:3:6
  [1m[94m|[0m
[1m[94m3 |[0m let p: Option[shared[m] String] = m
  [1m[94m|[0m      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:3:8
  [1m[94m|[0m
[1m[94m3 |[0m let p: Option[shared[m] String] = m
  [1m[94m|[0m        [1m[91m^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:3:14
  [1m[94m|[0m
[1m[94m3 |[0m let p: Option[shared[m] String] = m
  [1m[94m|[0m              [1m[91m^^^^^^^^^^^^^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:3:33
  [1m[94m|[0m
[1m[94m3 |[0m let p: Option[shared[m] String] = m
  [1m[94m|[0m                                 [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:3:35
  [1m[94m|[0m
[1m[94m3 |[0m let p: Option[shared[m] String] = m
  [1m[94m|[0m                                   [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:1:1
  [1m[94m|[0m
[1m[94m1 |[0m let s: my String = "Hello, world"
  [1m[94m|[0m [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            0,
        ),
        end: AbsoluteOffset(
            3,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:1:5
  [1m[94m|[0m
[1m[94m1 |[0m let s: my String = "Hello, world"
  [1m[94m|[0m     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            4,
        ),
        end: AbsoluteOffset(
            5,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:1:6
  [1m[94m|[0m
[1m[94m1 |[0m let s: my String = "Hello, world"
  [1m[94m|[0m      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            5,
        ),
        end: AbsoluteOffset(
            6,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:1:8
  [1m[94m|[0m
[1m[94m1 |[0m let s: my String = "Hello, world"
  [1m[94m|[0m        [1m[91m^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            7,
        ),
        end: AbsoluteOffset(
            9,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:1:11
  [1m[94m|[0m
[1m[94m1 |[0m let s: my String = "Hello, world"
  [1m[94m|[0m           [1m[91m^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            10,
        ),
        end: AbsoluteOffset(
            16,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:1:18
  [1m[94m|[0m
[1m[94m1 |[0m let s: my String = "Hello, world"
  [1m[94m|[0m                  [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            17,
        ),
        end: AbsoluteOffset(
            18,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:1:20
  [1m[94m|[0m
[1m[94m1 |[0m let s: my String = "Hello, world"
  [1m[94m|[0m                    [1m[91m^^^^^^^^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            19,
        ),
        end: AbsoluteOffset(
            32,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:2:1
  [1m[94m|[0m
[1m[94m2 |[0m let m: Option[my String] = Some(s.give)
  [1m[94m|[0m [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            34,
        ),
        end: AbsoluteOffset(
            37,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:2:5
  [1m[94m|[0m
[1m[94m2 |[0m let m: Option[my String] = Some(s.give)
  [1m[94m|[0m     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            38,
        ),
        end: AbsoluteOffset(
            39,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:2:6
  [1m[94m|[0m
[1m[94m2 |[0m let m: Option[my String] = Some(s.give)
  [1m[94m|[0m      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            39,
        ),
        end: AbsoluteOffset(
            40,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:2:8
  [1m[94m|[0m
[1m[94m2 |[0m let m: Option[my String] = Some(s.give)
  [1m[94m|[0m        [1m[91m^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            41,
        ),
        end: AbsoluteOffset(
            47,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:2:14
  [1m[94m|[0m
[1m[94m2 |[0m let m: Option[my String] = Some(s.give)
  [1m[94m|[0m              [1m[91m^^^^^^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            47,
        ),
        end: AbsoluteOffset(
            58,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:2:26
  [1m[94m|[0m
[1m[94m2 |[0m let m: Option[my String] = Some(s.give)
  [1m[94m|[0m                          [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            59,
        ),
        end: AbsoluteOffset(
            60,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:2:28
  [1m[94m|[0m
[1m[94m2 |[0m let m: Option[my String] = Some(s.give)
  [1m[94m|[0m                            [1m[91m^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            61,
        ),
        end: AbsoluteOffset(
            65,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:2:32
  [1m[94m|[0m
[1m[94m2 |[0m let m: Option[my String] = Some(s.give)
  [1m[94m|[0m                                [1m[91m^^^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            65,
        ),
        end: AbsoluteOffset(
            73,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:3:1
  [1m[94m|[0m
[1m[94m3 |[0m let p: Option[shared[m] String] = m
  [1m[94m|[0m [1m[91m^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            74,
        ),
        end: AbsoluteOffset(
            77,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:3:5
  [1m[94m|[0m
[1m[94m3 |[0m let p: Option[shared[m] String] = m
  [1m[94m|[0m     [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            78,
        ),
        end: AbsoluteOffset(
            79,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:3:6
  [1m[94m|[0m
[1m[94m3 |[0m let p: Option[shared[m] String] = m
  [1m[94m|[0m      [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            79,
        ),
        end: AbsoluteOffset(
            80,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:3:8
  [1m[94m|[0m
[1m[94m3 |[0m let p: Option[shared[m] String] = m
  [1m[94m|[0m        [1m[91m^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            81,
        ),
        end: AbsoluteOffset(
            87,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:3:14
  [1m[94m|[0m
[1m[94m3 |[0m let p: Option[shared[m] String] = m
  [1m[94m|[0m              [1m[91m^^^^^^^^^^^^^^^^^^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            87,
        ),
        end: AbsoluteOffset(
            105,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:3:33
  [1m[94m|[0m
[1m[94m3 |[0m let p: Option[shared[m] String] = m
  [1m[94m|[0m                                 [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            106,
        ),
        end: AbsoluteOffset(
            107,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```


# Unexpected diagnostic

```
[1m[91merror[0m: [1mexpected a module-level item[0m
 [1m[94m-->[0m tests/tutorial/from_rust/14b-owned-vs-copy-types-and-permissions-becomes.dada:3:35
  [1m[94m|[0m
[1m[94m3 |[0m let p: Option[shared[m] String] = m
  [1m[94m|[0m                                   [1m[91m^[0m [1m[91mhere[0m
  [1m[94m|[0m
```

```
Diagnostic {
    level: Error,
    span: AbsoluteSpan {
        source_file: SourceFile {
            [salsa id]: Id(800),
        },
        start: AbsoluteOffset(
            108,
        ),
        end: AbsoluteOffset(
            109,
        ),
    },
    message: "expected a module-level item",
    labels: [],
    children: [],
}
```

