target
.vscode
playground
dada_debug
.ongoing

# Internal IR files used for debugging
syntax.debug
validated.debug
bir.debug
lsp.debug
dada_debug.*

# mdBook build artifacts
book/book/
rfcs/book/
spec/book/