<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>hello-wasm example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700%7CSource+Code+Pro:400,700&amp;subset=latin-ext">
</head>

<body>
    <div class='area'>
        <h1>Dada source text</h1>
        <pre id="editor">async fn main() { print("Hello, web").await }</pre>
    </div>
    <div class='area'>
        <h1>Output</h1>
        <pre id="output"></pre>
    </div>
    <script src="ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="ace/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
    <script src="ace/ansi_up.js" type="text/javascript" charset="utf-8"></script>
    <script src="index.js" type="module" charset="utf-8"></script>
</body>

</html>
