body {
    display: flex;
    min-height: 800px;
}

.area {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#editor {
    width: 100%;
    height: 100%;
}

#output {
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
    white-space: pre-wrap;
}

.options {
    margin-bottom: 10px;
}

.lang-configure {
    display: none;
}
