.ide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
}

.execute-output {
    font-family: 'Source Code Pro', monospace;
    height: 30vh;
    width: 95%;
    border: 2px solid black;
    white-space: pre-wrap;
    overflow: auto;
}

.ir-output {
    font-family: 'Source Code Pro', monospace;
    height: 80vh;
    width: 95%;
    border: 2px solid black;
    white-space: pre-wrap;
    overflow: auto;
}

.heap-cell {
    margin-top: 20px;
}