<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dada Debug Log</title>
</head>
<body>
<h1>Dada Debug Log</h1>
<ul>
{{#each this}}
    <li><a href="/view/{{index}}">{{{descr}}}</a></li>
{{/each}}
</ul>
</body>
</html>
