<span class="event-kind">{{kind}}</span>
<span class="event-source">{{{(source_snippet source_location.file source_location.line source_location.column)}}}</span>
{{#if value}}
<span class="event-value jsontree">{{value}}</span>
{{/if}}
