Test failed: tests/parse_error/fn_named_class.dada

# Unexpected diagnostic

```
error: expected an identifier
 --> tests/parse_error/fn_named_class.dada:1:4
  |
1 | fn class() {
  |    ^^^^^ here
  |
```

# Unexpected diagnostic

```
error: expected an identifier
 --> tests/parse_error/fn_named_class.dada:1:9
  |
1 | fn class() {
  |         ^ here
  |
```

# Unexpected diagnostic

```
error: expected a module-level item
 --> tests/parse_error/fn_named_class.dada:1:9
  |
1 | fn class() {
  |         ^ here
  |
```

# Unexpected diagnostic

```
error: expected a module-level item
 --> tests/parse_error/fn_named_class.dada:1:12
  |
1 |   fn class() {
  |  ____________^
2 | |     
  | |_____^ here
  |
```
